doc/
.idea/
.github/
build/
xinference.egg-info/
frontend/.next/
frontend/out/
**/node_modules/
**/__pycache__/
**/*.py[cod]
**/*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
.venv
*.log
xinference/ui/web/dist/
xinference/_version.py
xinference/_commit.py
